<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am a current data science student who is drawn to work that bridges people, data, and systems to create real-world change. 
          I am particularly interested in leveraging data analysis and machine learning to uncover meaningful patterns, translate complex 
          findings into compelling narratives, and support informed, actionable decision-making.</p>
      </div>
      <div class="col-lg-4">
        <p>My goal is to use data-driven insights to highlight needs, evaluate impact, and guide strategies that create measurable 
          improvements for organizations and communities. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
