<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2>Contact Me</h2>
        <hr class="star-light">
        <p>Feel free to reach out through any of the platforms below.</p>

        <ul class="list-inline list-social-icons">
          <li>
            <a href="mailto:ellianapastrano@gmail.com" class="btn btn-lg btn-primary">
              <i class="fa fa-envelope"></i> Email
            </a>
          </li>
          <li>
            <a href="tel:+12102158045" class="btn btn-lg btn-primary">
              <i class="fa fa-phone"></i> Phone
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/elliana-pastrano" class="btn btn-lg btn-primary" target="_blank">
              <i class="fa fa-linkedin"></i> LinkedIn
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
